<ion-header>

  <ion-navbar>
    <ion-title>{{dayString}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item *ngFor="let hour of hours">  
      <ion-card>
        <ion-card-content>
          <div class=left>
            <img class=pic src="assets/weather/{{hour.icon}}.png"/>
          </div>
          <div class=middle>
            <span class=bold>{{hour.FCTTIME.civil}}</span><br />
            {{hour.condition}}<br />
            <img class=umbrella src="assets/weather/pop.png"/> {{hour.pop}}%
          </div>
          <div class=right>
            <div *ngIf="scale=='F'">
              <div class=temp>{{hour.temp.english}}&deg;{{scale}}</div>
              Feels Like {{hour.feelslike.english}}&deg;{{scale}}
            </div>
            <div *ngIf="scale=='C'">
              <div class=temp>{{hour.temp.metric}}&deg;{{scale}}</div>
              Feels Like {{hour.feelslike.metric}}&deg;{{scale}}
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
