page-home {
    .label { 
        margin: 0 0 0 0;
    }
    ion-card-header {
        font-weight: bold;
    }
    ion-card-content {
        position: relative;
        text-align: center;
    }
    .left {
        float: left;
        width: 50%;
        position: relative;
    }
    .right {
        float: right;
        width: 50%;
        position: relative;
    }
    .bottom {
        clear: both;
    }
    .pic {
        margin: auto;
        height: 75px;
        width: 75px;
    }
    .temp {
        font-weight: bold;
        font-size: 250%;
    }
    .footer {
        text-align: center;
    }
}
