<ion-header>

  <ion-navbar>
    <ion-title>{{city}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item *ngFor="let day of days">      
      <ion-card (tap)="hourlyInfo(day.date.weekday, day.date.monthname, day.date.day)">
        <ion-card-content>
          <div class=left>
            <img class=pic src="assets/weather/{{day.icon}}.png"/>
          </div>
          <div class=middle>
            <span class=bold>{{day.date.weekday}}, {{day.date.monthname}} {{day.date.day}}</span><br />
            {{day.conditions}}<br />
            <img class=umbrella src="assets/weather/pop.png"/> {{day.pop}}%
          </div>
          <div class=right>
            <div *ngIf="scale=='F'">
              <span class=bold>{{day.high.fahrenheit}}&deg;{{scale}}</span><br />
              {{day.low.fahrenheit}}&deg;{{scale}}
            </div>
            <div *ngIf="scale=='C'">
              <span class=bold>{{day.high.celsius}}&deg;{{scale}}</span><br />
              {{day.low.celsius}}&deg;{{scale}}
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
